.a384e4e7-c341-4bd3-8c26-2dd917729aba,
.a541ca6b-54e1-422f-af06-7b35b3cfd231,
.a6177039-07e9-4ab3-8785-2f11247a3d00,
.ab1482c8-6e8c-4e43-b19d-0132c2020eeb,
.b23178a6-9beb-4f16-b48f-3d44584a541b,
.b57cf35a-24d7-46b2-ba4c-543b35df5adc,
.b66f2501-9730-4d7c-86dc-47baf11e4a6a,
.bbb91d2f-686c-46fe-a5d4-e56ad6cb730b,
.bd8111e1-96c6-4f1a-b489-cc3a98591e7b,
.e07de38d-84c6-4314-9a47-5027b9f953fa,
.e21b8967-b8c2-4551-8f38-9e8d0bfb91bc,
.fb4473ae-dbc4-4922-8984-b4b0a5e21de3 {
  fill: none;
  stroke-miterlimit: 10;
}
.a541ca6b-54e1-422f-af06-7b35b3cfd231 {
  stroke: #1d1d1b;
  stroke-width: 7px;
}
.b2c7de46-4592-4129-89f5-000d7533c942 {
  fill: #1d1d1b;
}
.a384e4e7-c341-4bd3-8c26-2dd917729aba,
.a6177039-07e9-4ab3-8785-2f11247a3d00,
.ab1482c8-6e8c-4e43-b19d-0132c2020eeb,
.b23178a6-9beb-4f16-b48f-3d44584a541b,
.b57cf35a-24d7-46b2-ba4c-543b35df5adc,
.b66f2501-9730-4d7c-86dc-47baf11e4a6a,
.bbb91d2f-686c-46fe-a5d4-e56ad6cb730b,
.bd8111e1-96c6-4f1a-b489-cc3a98591e7b,
.e07de38d-84c6-4314-9a47-5027b9f953fa,
.e21b8967-b8c2-4551-8f38-9e8d0bfb91bc,
.fb4473ae-dbc4-4922-8984-b4b0a5e21de3 {
  stroke: #333;
  stroke-width: 3px;
}
.b66f2501-9730-4d7c-86dc-47baf11e4a6a {
  stroke-dasharray: 12.315 12.315;
}
.bfb972be-ea4a-4dac-9fa7-0043250fd2db {
  fill: #680e38;
}
.bf7c74bc-a833-4977-898d-a7c20ba0949b {
  font-size: 25.03px;
  font-family: OpenSans-Light, Open Sans;
  font-weight: 300;
}
.bb0515bf-b955-4d0f-91ef-5679559fb358,
.bf7c74bc-a833-4977-898d-a7c20ba0949b {
  fill: #fff;
}
.fb4473ae-dbc4-4922-8984-b4b0a5e21de3 {
  stroke-dasharray: 11.728 11.728;
}
.b23178a6-9beb-4f16-b48f-3d44584a541b {
  stroke-dasharray: 12.435 12.435;
}
.bbb91d2f-686c-46fe-a5d4-e56ad6cb730b {
  stroke-dasharray: 12.009 12.009;
}
.bd8111e1-96c6-4f1a-b489-cc3a98591e7b {
  stroke-dasharray: 11.359 11.359;
}
.b57cf35a-24d7-46b2-ba4c-543b35df5adc {
  stroke-dasharray: 13.895 13.895;
}
.ab1482c8-6e8c-4e43-b19d-0132c2020eeb {
  stroke-dasharray: 10.677 10.677;
}
.e21b8967-b8c2-4551-8f38-9e8d0bfb91bc {
  stroke-dasharray: 12.287 12.287;
}
.a6177039-07e9-4ab3-8785-2f11247a3d00 {
  stroke-dasharray: 11.44 11.44;
}
.e07de38d-84c6-4314-9a47-5027b9f953fa {
  stroke-dasharray: 11.362 11.362;
}
.b8b978f0-0589-40a3-9bd1-c7e24d554103 {
  fill: #1e1e1e;
}
