.a00b350d-13d7-45b3-ad57-24789eab643d,
.a636eae8-0b1b-4a61-a89b-4e6504f2f9f5,
.a96effad-7761-407a-80f2-47d5912d38d8,
.ac3682f6-1ad6-493a-aaf3-97b67142ae5e,
.acbb9097-d276-48b4-8f27-12bf1e840b5c,
.b5a296e9-611d-4cb5-b34e-3ea475f47a06,
.b663e9ea-4ead-4cb5-9896-aab6f8876297,
.b8ed89a9-8265-4af8-98bc-1717a1f9cbab,
.ba8d730f-d655-4c32-a754-3b9009facbe4,
.bfb8a185-4a61-4a95-996c-bf5ba8dbed72,
.e671cdc0-e554-4845-8b4c-0b5f32ee0ef3,
.f2bffe03-29b1-43bc-a920-9fe8aa8adff7,
.f3d13887-81a0-4ad9-84e6-bfc791c22a75 {
  fill: none;
  stroke-miterlimit: 10;
}
.a00b350d-13d7-45b3-ad57-24789eab643d,
.a636eae8-0b1b-4a61-a89b-4e6504f2f9f5,
.a96effad-7761-407a-80f2-47d5912d38d8,
.ac3682f6-1ad6-493a-aaf3-97b67142ae5e,
.acbb9097-d276-48b4-8f27-12bf1e840b5c,
.b663e9ea-4ead-4cb5-9896-aab6f8876297,
.b8ed89a9-8265-4af8-98bc-1717a1f9cbab,
.ba8d730f-d655-4c32-a754-3b9009facbe4,
.bfb8a185-4a61-4a95-996c-bf5ba8dbed72,
.e671cdc0-e554-4845-8b4c-0b5f32ee0ef3,
.f2bffe03-29b1-43bc-a920-9fe8aa8adff7,
.f3d13887-81a0-4ad9-84e6-bfc791c22a75 {
  stroke: #333;
  stroke-width: 3px;
}
.ac3682f6-1ad6-493a-aaf3-97b67142ae5e {
  stroke-dasharray: 12.13 12.13;
}
.acf22754-6c41-4ac9-bc7c-5eb98b42d539 {
  fill: #680e38;
}
.e2052cb0-162d-414b-b163-64397541d2de {
  font-size: 25.03px;
  fill: #fff;
  font-family: OpenSans-Light, Open Sans;
  font-weight: 300;
}
.b8ed89a9-8265-4af8-98bc-1717a1f9cbab {
  stroke-dasharray: 11.299 11.299;
}
.bfb8a185-4a61-4a95-996c-bf5ba8dbed72 {
  stroke-dasharray: 11.251 11.251;
}
.a00b350d-13d7-45b3-ad57-24789eab643d {
  stroke-dasharray: 12.251 12.251;
}
.a96effad-7761-407a-80f2-47d5912d38d8 {
  stroke-dasharray: 12.459 12.459;
}
.b663e9ea-4ead-4cb5-9896-aab6f8876297 {
  stroke-dasharray: 12.321 12.321;
}
.f3d13887-81a0-4ad9-84e6-bfc791c22a75 {
  stroke-dasharray: 11.812 11.812;
}
.acbb9097-d276-48b4-8f27-12bf1e840b5c {
  stroke-dasharray: 11.909 11.909;
}
.f2bffe03-29b1-43bc-a920-9fe8aa8adff7 {
  stroke-dasharray: 11.428 11.428;
}
.a636eae8-0b1b-4a61-a89b-4e6504f2f9f5 {
  stroke-dasharray: 11.906 11.906;
}
.e671cdc0-e554-4845-8b4c-0b5f32ee0ef3 {
  stroke-dasharray: 12.175 12.175;
}
.e712c35a-d78e-4701-b638-02a2af93c96d {
  fill: #1e1e1e;
}
.b5a296e9-611d-4cb5-b34e-3ea475f47a06 {
  stroke: #1d1d1b;
  stroke-width: 7px;
}
