
.a38c6631-9baa-47f7-99a7-f76dc2e438dd,
.a619b71b-2f07-41a5-ba3d-36aec7022c8e,
.a90bbb51-6c66-450d-b6c6-a5b074c05fc4,
.b69252aa-46d3-4863-a883-858de1131400,
.b7025df5-47c1-4476-925f-4d7c4652a8bc,
.bc278656-d43b-4d50-842b-19662928b7d0,
.bc90d2f3-dfed-4cd4-9877-2d33b82ea864,
.bc92f7f9-b03b-4a9f-a19a-300c0da4e0f7,
.bf72db33-e1c2-4e98-bfbe-d4a481997153,
.bf7c9077-c338-438f-8112-d5827a1f616a,
.ea9e5d9e-2bfc-454a-8093-616a1999651f,
.f3f492cd-dbb4-407e-8812-4294281d33c5,
.fc8de12b-8f88-4a3b-8ad8-c24a150b14e9 {
  fill: none;
  stroke-miterlimit: 10;
}
.a90bbb51-6c66-450d-b6c6-a5b074c05fc4 {
  stroke: #1d1d1b;
  stroke-width: 7px;
}
.aee77a73-b0f7-45ab-a525-71ba516c3c09 {
  fill: #1d1d1b;
}
.a38c6631-9baa-47f7-99a7-f76dc2e438dd,
.a619b71b-2f07-41a5-ba3d-36aec7022c8e,
.b69252aa-46d3-4863-a883-858de1131400,
.b7025df5-47c1-4476-925f-4d7c4652a8bc,
.bc278656-d43b-4d50-842b-19662928b7d0,
.bc90d2f3-dfed-4cd4-9877-2d33b82ea864,
.bc92f7f9-b03b-4a9f-a19a-300c0da4e0f7,
.bf72db33-e1c2-4e98-bfbe-d4a481997153,
.bf7c9077-c338-438f-8112-d5827a1f616a,
.ea9e5d9e-2bfc-454a-8093-616a1999651f,
.f3f492cd-dbb4-407e-8812-4294281d33c5,
.fc8de12b-8f88-4a3b-8ad8-c24a150b14e9 {
  stroke: #333;
  stroke-width: 3px;
}
.ea9e5d9e-2bfc-454a-8093-616a1999651f {
  stroke-dasharray: 12.315 12.315;
}
.a018e03f-c7a1-4573-8ffb-2476d9912796 {
  fill: #680e38;
}
.b5971788-8437-4acb-960d-39f9225282c7 {
  font-size: 25.03px;
  font-family: OpenSans-Light, Open Sans;
  font-weight: 300;
}
.a077cc25-0b49-4826-b36d-e155dc2225a4,
.b5971788-8437-4acb-960d-39f9225282c7 {
  fill: #fff;
}
.fc8de12b-8f88-4a3b-8ad8-c24a150b14e9 {
  stroke-dasharray: 11.728 11.728;
}
.bc278656-d43b-4d50-842b-19662928b7d0 {
  stroke-dasharray: 12.435 12.435;
}
.f3f492cd-dbb4-407e-8812-4294281d33c5 {
  stroke-dasharray: 12.009 12.009;
}
.bc92f7f9-b03b-4a9f-a19a-300c0da4e0f7 {
  stroke-dasharray: 11.359 11.359;
}
.bf72db33-e1c2-4e98-bfbe-d4a481997153 {
  stroke-dasharray: 13.895 13.895;
}
.a619b71b-2f07-41a5-ba3d-36aec7022c8e {
  stroke-dasharray: 12.287 12.287;
}
.bf7c9077-c338-438f-8112-d5827a1f616a {
  stroke-dasharray: 12.006 12.006;
}
.b69252aa-46d3-4863-a883-858de1131400 {
  stroke-dasharray: 11.44 11.44;
}
.bc90d2f3-dfed-4cd4-9877-2d33b82ea864 {
  stroke-dasharray: 11.362 11.362;
}
.b7025df5-47c1-4476-925f-4d7c4652a8bc {
  stroke-dasharray: 12.145 12.145;
}
.fcd69e55-56f6-4931-bda4-798220e84f17 {
  fill: #1e1e1e;
}
