.a0b6dd77-70dd-4354-a9c7-0b51fee3ea5e,
.a5333f7f-35c0-4641-a908-48c0838889a6,
.ad0702ef-3d53-447e-bbb2-ed1bf3167d0a,
.ad1fd6de-c314-4c3e-8948-9a062d9ca34e,
.ae8295e9-5ab7-4e53-b0fa-4af9bd9e057d,
.bba82c86-2c52-4b52-b250-250bbec57292,
.bec8aac0-7d90-49fe-a94a-2a2476dcbee8,
.e42b217a-daae-4ad8-8cb2-967d1ab26d99,
.ff657c18-60e6-4821-afe3-50dafb0016a6 {
  fill: none;
  stroke-miterlimit: 10;
}
.a0b6dd77-70dd-4354-a9c7-0b51fee3ea5e,
.a5333f7f-35c0-4641-a908-48c0838889a6,
.ad0702ef-3d53-447e-bbb2-ed1bf3167d0a,
.ae8295e9-5ab7-4e53-b0fa-4af9bd9e057d,
.bba82c86-2c52-4b52-b250-250bbec57292,
.bec8aac0-7d90-49fe-a94a-2a2476dcbee8,
.e42b217a-daae-4ad8-8cb2-967d1ab26d99,
.ff657c18-60e6-4821-afe3-50dafb0016a6 {
  stroke: #333;
  stroke-width: 3px;
}
.ad0702ef-3d53-447e-bbb2-ed1bf3167d0a {
  stroke-dasharray: 12.423 12.423;
}
.bc1a2851-9c53-421a-a8d2-84af22a48aeb {
  fill: #680e38;
}
.f297bfa0-3f5a-4e38-9850-bc39c5da4bf2 {
  font-size: 25.03px;
  fill: #fff;
  font-family: OpenSans-Light, Open Sans;
  font-weight: 300;
}
.bba82c86-2c52-4b52-b250-250bbec57292 {
  stroke-dasharray: 11.878 11.878;
}
.a5333f7f-35c0-4641-a908-48c0838889a6 {
  stroke-dasharray: 11.648 11.648;
}
.e42b217a-daae-4ad8-8cb2-967d1ab26d99 {
  stroke-dasharray: 11.399 11.399;
}
.ae8295e9-5ab7-4e53-b0fa-4af9bd9e057d {
  stroke-dasharray: 12.033 12.033;
}
.ee6f2741-c5e0-44f3-860b-a3cf8e5304e0 {
  fill: #1e1e1e;
}
.ff657c18-60e6-4821-afe3-50dafb0016a6 {
  stroke-dasharray: 11.952 11.952;
}
.a0b6dd77-70dd-4354-a9c7-0b51fee3ea5e {
  stroke-dasharray: 11.712 11.712;
}
.ad1fd6de-c314-4c3e-8948-9a062d9ca34e {
  stroke: #1d1d1b;
  stroke-width: 7px;
}
