.a3ee44b0-220c-406b-a14a-60406976aa8d,
.a42cc15e-64ed-4f38-a666-a41004aa4fac,
.a47339c5-503a-493a-9e01-6a0d4a712749,
.ab9c8221-a697-4a72-a68f-89873c59ace0,
.b2e73704-546c-4ffe-a91b-4cace4e24d2a,
.b759cd31-aaa8-4eea-9243-731fe3cfe675,
.bbf599a7-aa01-4eb3-89a2-08acdded62d5,
.bbfdce01-4f09-404f-81e3-5a51d75aa007,
.bee928d0-1b68-42c4-b68b-3ce5a4a82129,
.bf2e7829-b4fb-4131-8fea-88aedad9b6e6,
.bf3869c4-884f-42cc-87d8-87bcaaefdf5e,
.e858f3bd-8a83-44b5-9da8-08f68e3d0b81,
.e8eebd8e-93b3-4ba1-9fc6-f21c9148c777,
.e906c1ad-3f5a-4900-9851-af0147e4a6f6,
.ef068df0-83ea-4933-9713-2e1dbf03a0b8,
.f04d5342-d369-45f1-85e9-8489bd6b22fb,
.f2f16ff5-2c1c-4442-9a88-cb873bba3f20,
.f9cb9271-ad53-4e8e-95b5-46fe94f02660 {
  fill: none;
  stroke-miterlimit: 10;
}
.e906c1ad-3f5a-4900-9851-af0147e4a6f6 {
  stroke: #1d1d1b;
  stroke-width: 7px;
}
.ab64b92c-04ae-40c9-b43a-3324550a844e {
  fill: #1d1d1b;
}
.a42cc15e-64ed-4f38-a666-a41004aa4fac,
.a47339c5-503a-493a-9e01-6a0d4a712749,
.ab9c8221-a697-4a72-a68f-89873c59ace0,
.b759cd31-aaa8-4eea-9243-731fe3cfe675,
.bbfdce01-4f09-404f-81e3-5a51d75aa007,
.bee928d0-1b68-42c4-b68b-3ce5a4a82129,
.bf3869c4-884f-42cc-87d8-87bcaaefdf5e,
.e858f3bd-8a83-44b5-9da8-08f68e3d0b81,
.ef068df0-83ea-4933-9713-2e1dbf03a0b8,
.f04d5342-d369-45f1-85e9-8489bd6b22fb,
.f9cb9271-ad53-4e8e-95b5-46fe94f02660 {
  stroke: #333;
}
.a3ee44b0-220c-406b-a14a-60406976aa8d,
.a42cc15e-64ed-4f38-a666-a41004aa4fac,
.a47339c5-503a-493a-9e01-6a0d4a712749,
.ab9c8221-a697-4a72-a68f-89873c59ace0,
.b2e73704-546c-4ffe-a91b-4cace4e24d2a,
.b759cd31-aaa8-4eea-9243-731fe3cfe675,
.bbf599a7-aa01-4eb3-89a2-08acdded62d5,
.bbfdce01-4f09-404f-81e3-5a51d75aa007,
.bee928d0-1b68-42c4-b68b-3ce5a4a82129,
.bf2e7829-b4fb-4131-8fea-88aedad9b6e6,
.bf3869c4-884f-42cc-87d8-87bcaaefdf5e,
.e858f3bd-8a83-44b5-9da8-08f68e3d0b81,
.e8eebd8e-93b3-4ba1-9fc6-f21c9148c777,
.ef068df0-83ea-4933-9713-2e1dbf03a0b8,
.f04d5342-d369-45f1-85e9-8489bd6b22fb,
.f2f16ff5-2c1c-4442-9a88-cb873bba3f20,
.f9cb9271-ad53-4e8e-95b5-46fe94f02660 {
  stroke-width: 3px;
}
.e858f3bd-8a83-44b5-9da8-08f68e3d0b81 {
  stroke-dasharray: 12.116 12.116;
}
.b2ac4c93-91d4-4eb8-aa62-0d76cb83e268 {
  fill: #680e38;
}
.b22ce8aa-0ec2-424e-92f6-4d639d827c23 {
  font-size: 25.03px;
  font-family: OpenSans-Light, Open Sans;
  font-weight: 300;
}
.a3fcad14-9936-4a8c-a1ca-5fd4f2977be0,
.b22ce8aa-0ec2-424e-92f6-4d639d827c23 {
  fill: #fff;
}
.b759cd31-aaa8-4eea-9243-731fe3cfe675 {
  stroke-dasharray: 12.305 12.305;
}
.a42cc15e-64ed-4f38-a666-a41004aa4fac {
  stroke-dasharray: 12.326 12.326;
}
.bee928d0-1b68-42c4-b68b-3ce5a4a82129 {
  stroke-dasharray: 11.171 11.171;
}
.bf3869c4-884f-42cc-87d8-87bcaaefdf5e {
  stroke-dasharray: 11.979 11.979;
}
.bbfdce01-4f09-404f-81e3-5a51d75aa007 {
  stroke-dasharray: 11.359 11.359;
}
.ab9c8221-a697-4a72-a68f-89873c59ace0 {
  stroke-dasharray: 12.355 12.355;
}
.f9cb9271-ad53-4e8e-95b5-46fe94f02660 {
  stroke-dasharray: 11.745 11.745;
}
.ef068df0-83ea-4933-9713-2e1dbf03a0b8 {
  stroke-dasharray: 12.53 12.53;
}
.f04d5342-d369-45f1-85e9-8489bd6b22fb {
  stroke-dasharray: 11.801 11.801;
}
.a3ee44b0-220c-406b-a14a-60406976aa8d,
.f2f16ff5-2c1c-4442-9a88-cb873bba3f20 {
  stroke: #ac1924;
}
.a3ee44b0-220c-406b-a14a-60406976aa8d {
  stroke-dasharray: 11.883 11.883;
}
.b2e73704-546c-4ffe-a91b-4cace4e24d2a,
.bbf599a7-aa01-4eb3-89a2-08acdded62d5 {
  stroke: #eebd31;
}
.bbf599a7-aa01-4eb3-89a2-08acdded62d5 {
  stroke-dasharray: 11.843 11.843;
}
.bf2e7829-b4fb-4131-8fea-88aedad9b6e6,
.e8eebd8e-93b3-4ba1-9fc6-f21c9148c777 {
  stroke: #1e1e1e;
}
.bf2e7829-b4fb-4131-8fea-88aedad9b6e6 {
  stroke-dasharray: 11.732 11.732;
}
.b6ad650d-694d-4b1a-aee1-8c27e48d63e0 {
  fill: #1e1e1e;
}
.a74f711d-6451-4a9a-8b7b-dd675d1865d4 {
  fill: #111110;
}
.f8e01da8-2811-474f-a169-3b911793ccb5 {
  fill: #ac1924;
}
.bf142f8f-b016-4d7a-ac97-99cd662d7270 {
  fill: #eebd31;
}
