.a567206f-cd97-4c80-9108-6128fea7b063,
.a819b86c-a0ac-403f-bc03-5309b010f7db,
.adba9428-160a-482b-a0f7-2e3b5b791d72,
.bc7c4f1e-0f58-4b7f-8298-2198f25d80e3,
.bceae544-3aa5-489d-b44a-2e22ea493f1d,
.bf865bd9-951f-4bd4-a365-f942555ef30b,
.e3503699-8ba6-4aa9-82d7-f02a848af3e7,
.e8256c21-8304-42b5-9ab7-c61c6bf7da42,
.f13da2ae-43ee-4a5a-8d87-c8a1c35b05df,
.f8fd6531-ca1b-479c-970c-90f01f576076,
.ff1547c7-8ea2-4e3c-8ba0-f7eabdd3c610 {
  fill: none;
  stroke-miterlimit: 10;
}
.a819b86c-a0ac-403f-bc03-5309b010f7db,
.adba9428-160a-482b-a0f7-2e3b5b791d72,
.bc7c4f1e-0f58-4b7f-8298-2198f25d80e3,
.bceae544-3aa5-489d-b44a-2e22ea493f1d,
.bf865bd9-951f-4bd4-a365-f942555ef30b,
.e3503699-8ba6-4aa9-82d7-f02a848af3e7,
.e8256c21-8304-42b5-9ab7-c61c6bf7da42,
.f13da2ae-43ee-4a5a-8d87-c8a1c35b05df,
.f8fd6531-ca1b-479c-970c-90f01f576076,
.ff1547c7-8ea2-4e3c-8ba0-f7eabdd3c610 {
  stroke: #333;
  stroke-width: 3px;
}
.bceae544-3aa5-489d-b44a-2e22ea493f1d {
  stroke-dasharray: 11.267 11.267;
}
.bdcaa150-7d7f-469d-b2bd-e1cdb81b694a {
  fill: #680e38;
}
.f737989a-4c31-43a0-b39b-a8959dba2e61 {
  font-size: 25.03px;
  font-family: OpenSans-Light, Open Sans;
  font-weight: 300;
}
.b1ef7cf0-82f8-4733-bc11-a4cfa9d0cc50,
.f737989a-4c31-43a0-b39b-a8959dba2e61 {
  fill: #fff;
}
.adba9428-160a-482b-a0f7-2e3b5b791d72 {
  stroke-dasharray: 12.093 12.093;
}
.bc7c4f1e-0f58-4b7f-8298-2198f25d80e3 {
  stroke-dasharray: 10.677 10.677;
}
.bf865bd9-951f-4bd4-a365-f942555ef30b {
  stroke-dasharray: 12.162 12.162;
}
.f13da2ae-43ee-4a5a-8d87-c8a1c35b05df {
  stroke-dasharray: 12.229 12.229;
}
.a819b86c-a0ac-403f-bc03-5309b010f7db {
  stroke-dasharray: 12.558 12.558;
}
.ff1547c7-8ea2-4e3c-8ba0-f7eabdd3c610 {
  stroke-dasharray: 12.461 12.461;
}
.e3503699-8ba6-4aa9-82d7-f02a848af3e7 {
  stroke-dasharray: 12.361 12.361;
}
.f8fd6531-ca1b-479c-970c-90f01f576076 {
  stroke-dasharray: 11.311 11.311;
}
.b48bbbff-ba9f-4d7c-a737-a344e0f8eb3f {
  fill: #1e1e1e;
}
.a567206f-cd97-4c80-9108-6128fea7b063 {
  stroke: #1d1d1b;
  stroke-width: 7px;
  fill-rule: evenodd;
}
