.svg * {
  color: white !important;
  font-size: 29px !important;
}
.svg .dragable {
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}