cls-1 {
  fill: #3d3524;
}
.cls-2,
.cls-5 {
  fill: #241b08;
}
.cls-3 {
  fill: #ffc445;
}
.cls-4 {
  fill: #ffcb5a;
}
.cls-5 {
  font-size: 14.65px;
  font-family: OpenSans-Regular, Open Sans;
}
.cls-6 {
  fill: none;
  stroke: #241b08;
  stroke-miterlimit: 10;
  stroke-width: 0.75px;
}
cls-100 {
  fill: #3d3524;
}
.cls-200,
.cls-500 {
  fill: #241b08;
}
.cls-300 {
  fill: #87d6ce;
}
.cls-400 {
  fill: #95dbd4;
}
.cls-500 {
  font-size: 14.65px;
  font-family: OpenSans-Regular, Open Sans;
}
