.pdf {
    color: black !important;
    font-size: 22px !important;
}

.pdf * {
    text-align: left;
}

#table-steps {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 60px;
}

#table-steps td,
#table-steps th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 22px !important;
    text-align: left;
}

#table-steps tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table-steps tr:hover {
    background-color: #ddd;
}
#table-steps td {
    width: 50%;
    
}

.third td {
    width: 31% !important;  
}

#table-steps th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}
