body {
  margin: 0;
  font-family: "Oswald";
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: white !important;
  font-size: 29px !important;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.MuiAccordionSummary-content {
  margin: 2px 0 !important;
}

[data-rbd-draggable-id] {
  left: auto !important;
  top: auto !important;
}
.link {
  color: #005a9c !important;
  text-decoration: none;
  font-weight: 600 !important;
  font-size: 15px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
  }
}


p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.Mui-focusVisible * {
  text-decoration: underline !important;
  font-weight: 600 !important;
}

.dragable {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // color: white !important;
  font-size: 29px !important;
}

.Mui-focusVisible * {
  text-decoration: underline !important;
  font-weight: 600 !important;
}

.link {
  color: #005a9c !important;
  text-decoration: none;
  font-weight: 600 !important;
}
.link:hover {
  text-decoration: underline !important;
  cursor: pointer;
  font-weight: 600;
}
.link:active {
  text-decoration: underline !important;
  cursor: pointer;
  font-weight: 600;
  color: yellow;
}
