.a66e46c7-3a8c-4094-a490-fb583da06036,
.a6ab7021-1543-4484-b476-fdcc9a04a620,
.af3c90f8-92ca-4f2e-9fb9-07ecab00ab3f,
.afa633d5-653f-422d-80f1-6bd6287374f8,
.b2e0f9b1-5153-4355-9204-6c2a75f2a1c8,
.bfe862f5-1386-4e3a-b116-fc1cbf89eee9,
.e6d9b8c4-42e0-4c24-83d5-481a1d6f23c5,
.ecc52909-5b5b-49ea-ac2f-359341d50491,
.fea84b25-3a3e-42ec-954b-c27c9e46707f {
  fill: none;
  stroke: #333;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
.afa633d5-653f-422d-80f1-6bd6287374f8 {
  stroke-dasharray: 11.619 11.619;
}
.e9756267-cebc-4071-a55e-8a8e0f214011 {
  fill: #680e38;
}
.bf942306-ff91-4e48-9bc8-3a60f57c49eb {
  font-size: 25.03px;
  fill: #fff;
  font-family: OpenSans-Light, Open Sans;
  font-weight: 300;
}
.ecc52909-5b5b-49ea-ac2f-359341d50491 {
  stroke-dasharray: 11.714 11.714;
}
.a6ab7021-1543-4484-b476-fdcc9a04a620 {
  stroke-dasharray: 12.308 12.308;
}
.e6d9b8c4-42e0-4c24-83d5-481a1d6f23c5 {
  stroke-dasharray: 12.553 12.553;
}
.fea84b25-3a3e-42ec-954b-c27c9e46707f {
  stroke-dasharray: 11.524 11.524;
}
.a66e46c7-3a8c-4094-a490-fb583da06036 {
  stroke-dasharray: 14.142 14.142;
}
.bfe862f5-1386-4e3a-b116-fc1cbf89eee9 {
  stroke-dasharray: 12.097 12.097;
}
.b2e0f9b1-5153-4355-9204-6c2a75f2a1c8 {
  stroke-dasharray: 12.16 12.16;
}
.e2468ff2-d47d-422e-ac81-b04786ab1f7e {
  fill: #1e1e1e;
}
