#table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#table td,
#table th {
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 13px;
    text-align: left;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* 
#table tr:hover {
    background-color: #ddd;
} */
#table td {
    width: 33.333%;
    
}

.third td {
    width: 31% !important;  
}

#table th {
    text-align: left;
    background-color: #464343;
    color: white;
}
